ALTER TABLE public.store_settings ADD COLUMN IF NOT EXISTS cuit TEXT; ALTER TABLE public.store_settings ADD COLUMN IF NOT EXISTS country TEXT DEFAULT 'Argentina'; ALTER TABLE public.store_settings ADD COLUMN IF NOT EXISTS business_type TEXT;
